{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body dir="rtl">
<nav class="navbar navbar-expand-lg px-5 fixed-top nav-items-boot">
    <a href="{% url 'index' %}">
        <img src="{% static 'imgs/mosquelogo.jpg' %}" alt="no img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="{% url 'index' %}">الرئيسية</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'questions_blog' %}">الأسئلة الشائعة</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'events_view' %}">المناسبات</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'about' %}">عن المسجد</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'contact_us' %}">إتصل بنا</a>
            </li>
        </ul>
    </div>
    <div class="float-left-website float-left">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'index' %}">أبو عبيدة إبن الجراح</a>
            </li>
        </ul>
    </div>
</nav>
<header>
    <div class="text-box">
        <h1>
            (إِنَّمَا يَعْمُرُ مَسَاجِدَ اللَّهِ مَنْ آمَنَ بِاللَّهِ وَالْيَوْمِ الْآخِرِ وَأَقَامَ الصَّلاةَ وَآتَى
            الزَّكَاةَ وَلَمْ يَخْشَ إِلَّا اللَّهَ فَعَسَى أُولَئِكَ أَنْ يَكُونُوا مِنَ الْمُهْتَدِينَ)
        </h1>
        <span class="first-span"> سورة التوبة  18</span>
    </div>

</header>
{% block content %}
{% endblock %}

{% include 'appAbuObaida/footer.html' %}
<script>
    $(document).ready(function () {
        $(".clickable-image").click(function () {
            // Create a clone of the clicked image
            var clonedImage = $(this).clone().addClass("zoomed-image");

            // Create a div for the zoomed-in view
            var zoomedDiv = $("<div>").addClass("zoomed").append(clonedImage);

            // Append the zoomed-in view to the body
            $("body").append(zoomedDiv);

            // Slow-motion effect when zooming in
            clonedImage.animate({width: "100%", height: "100%"}, 2000, function () {
                // Show the zoomed-in view after the animation is complete
                zoomedDiv.fadeIn();
            });

            // Close the zoomed-in view when clicked
            zoomedDiv.click(function () {
                // Hide the zoomed-in view with a slow-motion effect
                zoomedDiv.fadeOut(1000, function () {
                    $(this).remove();
                });
            });
        });
    });
</script>

<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
