{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Add these lines to the head section of your HTML file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body dir="rtl">
{#<nav class="navbar navbar-expand-lg navbar-dark bg-navbar p-4">#}
{#    <div class="container">#}
{#        <a class="navbar-brand" href="{% url 'index' %}">#}
{#            <img src="{% static 'imgs/Mosque.jpg' %}" width="45" height="45" alt="...">#}
{#            مسجد أبو عبيدة إبن الجراح#}
{#        </a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"#}
{#                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse padding-navbar" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav mb-2 mb-lg-0 mx-3">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">#}
{#                        <span class="events">الرئيسية</span></a>#}
{#                </li>#}
{#                <li class="nav-item mx-2">#}
{#                    <a class="nav-link" href="{% url 'questions_blog' %}">#}
{#                        <span class="events">الأسئلة الشائعة</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item mx-2">#}
{#                    <a class="nav-link" href="{% url 'events_view' %}">#}
{#                        <span class="events">المناسبات</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item mx-2">#}
{#                    <a class="nav-link" href="{% url 'about' %}">#}
{#                        <span class="events">عن المسجد</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'contact_us' %}">#}
{#                        <span class="events">إتصل بنا</span>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}


{% block content %}
{% endblock %}

{% include 'appAbuObaida/footer.html' %}
<script>
    $(document).ready(function () {
        $(".clickable-image").click(function () {
            // Create a clone of the clicked image
            var clonedImage = $(this).clone().addClass("zoomed-image");

            // Create a div for the zoomed-in view
            var zoomedDiv = $("<div>").addClass("zoomed").append(clonedImage);

            // Append the zoomed-in view to the body
            $("body").append(zoomedDiv);

            // Slow-motion effect when zooming in
            clonedImage.animate({width: "100%", height: "100%"}, 2000, function () {
                // Show the zoomed-in view after the animation is complete
                zoomedDiv.fadeIn();
            });

            // Close the zoomed-in view when clicked
            zoomedDiv.click(function () {
                // Hide the zoomed-in view with a slow-motion effect
                zoomedDiv.fadeOut(1000, function () {
                    $(this).remove();
                });
            });
        });
    });
</script>

<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}">
</script>
</body>
</html>
