{% extends 'appAbuObaida/base.html' %}
{% block title %}إتصل بنا{% endblock %}
{% load static %}

{% block content %}
    <h2 class="text-center my-4 contact-us-ques">إتصل بنا إذا كان لديك إنشغال...</h2>

    <div class="container main-div my-5">
        <div class="form-div">
            <form>
                <label for="username">إسم المستخدم</label>
                <input type="text" id="username" name="username" placeholder="إسم المستخدم" disabled>

                <label for="email">الإيمايل</label>
                <input type="email" id="email" name="email" placeholder="أدخل الإيمايل" disabled>

                <label for="exampleTextarea">أكتب سؤالك هنا سنجيب عنه في أقرب وقت ممكن ...</label>
                <textarea class="form-control" id="exampleTextarea" rows="7" disabled></textarea>

                <button class="my-3 bg submit-button" type="submit" disabled>إرسال الإستفسار</button>
            </form>
        </div>

        <!-- Second side content -->
        <div class="second-side" id="map">
            <div class="map-side text-center">
                <iframe class="map-frame"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7621.150194832017!2d5.7219537571376655!3d34.84456971091022!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f509d9463d1a4d%3A0x9884e47b11778b99!2sAbu%20Ubayda%20ibn%20al-Djarrah%20Mosque!5e0!3m2!1sen!2sus!4v1703129647632!5m2!1sen!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" disabled=""></iframe>
            </div>
        </div>

    </div>
{% endblock %}