{% extends 'appAbuObaida/base.html' %}
{% block title %}المناسبات{% endblock %}
{% load static %}

{% block content %}
    <div class="mosque-activities">
        <h1 class="text-center my-5">نشاطات المسجد</h1>
    </div>

    <div class="card-container">
        <div class="card card-item">
            <a class="card-link" href="">
                <img class="event-card-image" src="{% static 'imgs/quran2.jpg' %}" alt="Card Image 1">
                <div class="card-content">
                    <h3>Event 1</h3>
                    <p>Content for Event 1 goes here.</p>
                </div>
            </a>
        </div>

        <div class="card card-item">
            <a class="card-link" href="">
                <img class="event-card-image" src="{% static 'imgs/quran.jpg' %}" alt="Card Image 2">
                <div class="card-content">
                    <h3>Event 2</h3>
                    <p>Content for Event 2 goes here.</p>
                </div>
            </a>
        </div>

        <div class="card card-item">
            <a class="card-link" href="">
                <img class="event-card-image" src="{% static 'imgs/quran.jpg' %}" alt="Card Image 3">
                <div class="card-content">
                    <h3>Event 3</h3>
                    <p>Content for Event 3 goes here.</p>
                </div>
            </a>
        </div>

        <div class="card card-item">
            <a class="card-link" href="">
                <img class="event-card-image" src="{% static 'imgs/quran.jpg' %}" alt="Card Image 4">
                <div class="card-content">
                    <h3>Event 4</h3>
                    <p>Content for Event 4 goes here.</p>
                </div>
            </a>
        </div>

        <div class="card card-item">
            <a class="card-link" href="">
                <img class="event-card-image" src="{% static 'imgs/quran.jpg' %}" alt="Card Image 5">
                <div class="card-content">
                    <h3>Event 5</h3>
                    <p>Content for Event 5 goes here.</p>
                </div>
            </a>
        </div>

    </div>
{% endblock %}