{% extends 'appAbuObaida/base.html' %}
{% block title %}المناسبات{% endblock %}
{% load static %}

{% block content %}
    {% include 'appAbuObaida/slidesimages.html' %}
    <div class="mosque-activities">
        <h1 class="text-center my-5">نشاطات المسجد</h1>
    </div>

    <div class="card-container" dir="rtl">
        {% for event in events %}
            <section class="main-content">
                <div class="card-event">
                    <article>
                        <img src="{% static 'imgs/quran2.jpg' %}" alt="News Image">
                        <a href="{% url 'events_details' event.id %}">
                            <h2>{{ event.event_title }}</h2>
                        </a>
                        <p>{{ event.event_description|truncatechars:30 }}</p>
                        <a class="btn btn-success my-3 text-center" href="{% url 'events_details' event.id %}">
                            إقرأ المزيد
                        </a>
                    </article>
                </div>
            </section>

        {% endfor %}
    </div>
{% endblock %}