{% extends 'appAbuObaida/base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5" dir="rtl">
        <div class="row">
            <h3 class="text-center mb-5">أوقات الصلاة لشهر أوت</h3>
            <div class="col left-div">first</div>
            <div class="col-6 middle-div text-center">
                <img class="prayer-times" src="{% static 'imgs/prayertime.jpg' %}">
            </div>
            <div class="col right-div">third</div>
        </div>
    </div>
{% endblock %}
