{% extends 'appAbuObaida/base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5" dir="rtl">
        <div class="row">
            <h3 class="text-center mb-5">أوقات الصلاة لشهر أوت</h3>
            <div class="col left-div">first</div>
            <div class="col-6 middle-div text-center">
                <img class="prayer-times" src="{% static 'imgs/prayertime.jpg' %}">
            </div>
            <div class="col right-div">third</div>
        </div>
    </div>

    <div class="mosque-activities">
        <h3 class="text-center mb-5">نشاطات المسجد</h3>
    </div>

    <div class="card-container">
        <div class="card">
            <a class="card-link" href="">
                <img class="event-card-image" src="{% static 'imgs/quran2.jpg' %}" alt="Card Image 1">
                <div class="card-content">
                    <h3>Card 1</h3>
                    <p>Content for Card 1 goes here.</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" href="">
                <img class="event-card-image" src="{% static 'imgs/quran.jpg' %}" alt="Card Image 2">
                <div class="card-content">
                    <h3>Card 2</h3>
                    <p>Content for Card 2 goes here.</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" href="">
                <img class="event-card-image" src="{% static 'imgs/quran.jpg' %}" alt="Card Image 3">
                <div class="card-content">
                    <h3>Card 3</h3>
                    <p>Content for Card 3 goes here.</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" href="">

                <img class="event-card-image" src="{% static 'imgs/quran.jpg' %}" alt="Card Image 4">
                <div class="card-content">
                    <h3>Card 4</h3>
                    <p>Content for Card 4 goes here.</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" href="">

                <img class="event-card-image" src="{% static 'imgs/quran.jpg' %}" alt="Card Image 5">
                <div class="card-content">
                    <h3>Card 5</h3>
                    <p>Content for Card 5 goes here.</p>
                </div>
            </a>
        </div>

    </div>
{% endblock %}
