{% extends 'appAbuObaida/base.html' %}
{% block title %}أسئلة شائعة{% endblock %}
{% load static %}

{% block content %}
    <form class="d-flex mx-5 my-5" role="search">
        <button class="btn btn-outline-success btn-lg" type="submit">بحث</button>
        <input class="form-control me-2" type="search" placeholder="بحث عن معلومة دينية . . ." aria-label="Search">
    </form>
    <div class="container my-5" dir="rtl">
        <h1 class="text-center">أسئلة شائعة </h1>
        {% for question in questions %}
            <div class="card card-questions">
                <div class="card-body">
                    <a class="card-link" href="">
                        <h5 class="card-title">سؤال: {{ question.question_title }}</h5>
                    </a>
                    <p class="card-text">{{ question.question_answer|truncatewords:50 }}</p>
                    <p class="">تم النشر يوم:   {{ question.pub_date }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}