{% extends 'appAbuObaida/base.html' %}
{% block title %}أسئلة شائعة{% endblock %}
{% load static %}

{% block content %}
    {% include 'appAbuObaida/slidesimages.html' %}

    <div class="container my-5">
        <form class="d-flex mx-5 my-5" role="search" action="{% url 'search_question' %}" method="get">
            <div class="d-flex align-items-stretch">
                <button class="btn btn-outline-success btn-lg mx-3" type="submit" style="height: 100%;">بحث</button>

                <input class="form-control p-3" name="search" type="search" placeholder="بحث عن معلومة دينية . . ."
                       aria-label="Search">
            </div>
        </form>
        <h1 class="text-center">أسئلة شائعة </h1>
        {% for question in questions %}
            <div class="card card-questions">
                <div class="card-body">
                    <a class="card-link question-title" href="{% url 'question_detail' pk=question.id %}">
                        <h5 class="card-title">سؤال: {{ question.question_title }}</h5>
                    </a>
                    <p class="card-text">{{ question.question_answer|truncatewords:50 }}</p>
                    <p class="">تم النشر يوم: {{ question.pub_date }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}