{% extends 'appAbuObaida/base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5" dir="rtl">
        <div class="card card-questions">
            <div class="card-body">
                <a class="card-link" href="">
                    <h5 class="card-title">سؤال: نصيب الزكاة لعام 2024</h5>
                </a>
                <p class="card-text">
                    وتتم عن طريق تقسيم مجموع المبلغ المراد إخراج زكاته على 40، لنفترض أن المبلغ المراد إخراج الزكاة منه
                    هو 100000 دولار، تحسب الزكاة كالآتي: 100000/40 = 2500 دولار.

                    وهناك طريقة ثانية وتتم من خلال تقسيم مجموع المبلغ المراد إخراج زكاته على مئة والناتج يُضرب في 2.50،
                    فمثلاً لنفترض أنّ المبلغ المراد إخراج الزكاة منه هو 100000 دولار، فتحسب الزكاة كما يلي: 100000/100=
                    1000* 2.50 = 2500 دولار.

                    تبلغ نسبة زكاة الأموال النقدية ربع العشر، أي ما يعادل 2.5%، أو ما يعادل 25 في الألف، أو ما يعادل 250
                    في العشرة آلاف، وهكذا.
                    
                    
                    وتتم عن طريق تقسيم مجموع المبلغ المراد إخراج زكاته على 40، لنفترض أن المبلغ المراد إخراج الزكاة منه
                    هو 100000 دولار، تحسب الزكاة كالآتي: 100000/40 = 2500 دولار.

                    وهناك طريقة ثانية وتتم من خلال تقسيم مجموع المبلغ المراد إخراج زكاته على مئة والناتج يُضرب في 2.50،
                    فمثلاً لنفترض أنّ المبلغ المراد إخراج الزكاة منه هو 100000 دولار، فتحسب الزكاة كما يلي: 100000/100=
                    1000* 2.50 = 2500 دولار.

                    تبلغ نسبة زكاة الأموال النقدية ربع العشر، أي ما يعادل 2.5%، أو ما يعادل 25 في الألف، أو ما يعادل 250
                    في العشرة آلاف، وهكذا.
                    
                    
                    وتتم عن طريق تقسيم مجموع المبلغ المراد إخراج زكاته على 40، لنفترض أن المبلغ المراد إخراج الزكاة منه
                    هو 100000 دولار، تحسب الزكاة كالآتي: 100000/40 = 2500 دولار.

                    وهناك طريقة ثانية وتتم من خلال تقسيم مجموع المبلغ المراد إخراج زكاته على مئة والناتج يُضرب في 2.50،
                    فمثلاً لنفترض أنّ المبلغ المراد إخراج الزكاة منه هو 100000 دولار، فتحسب الزكاة كما يلي: 100000/100=
                    1000* 2.50 = 2500 دولار.

                    تبلغ نسبة زكاة الأموال النقدية ربع العشر، أي ما يعادل 2.5%، أو ما يعادل 25 في الألف، أو ما يعادل 250
                    في العشرة آلاف، وهكذا.
                </p>
            </div>
        </div>
    </div>
{% endblock %}