{% extends 'appAbuObaida/base.html' %}
{% block title %} شرح السؤال{% endblock %}

{% load static %}

{% block content %}
    {% include 'appAbuObaida/slidesimages.html' %}
    <div class="container my-5" dir="rtl">
        <div class="card card-questions">
            <div class="card-body">
                <h5 class="card-title">سؤال: {{ question_detailed.question_title }}</h5>
                <p class="card-text">
                    {{ question_detailed.question_answer }}
                </p>
                <span>{{ question_detailed.pub_date }}</span><br>
                <a class="card-link mt-4" href="{% url 'questions_blog' %}">
                    العودة إلى الأسئلة
                </a>

            </div>
        </div>
    </div>
{% endblock %}