{% load static %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleBtn = document.querySelector(".toggle_btn2");
        const toggleBtnIcon = document.querySelector(".toggle_btn2 i");
        const dropDownMenu = document.querySelector(".dropdown_menu2");

        toggleBtn.addEventListener('click', function (event) {
            event.stopPropagation();

            dropDownMenu.classList.toggle('open');

            const isOpen = dropDownMenu.classList.contains('open');

            toggleBtnIcon.classList = isOpen
                ? 'bi bi-x'
                : 'bi bi-list';
        });

        // Close the dropdown menu when clicking outside of it
        document.addEventListener('click', function (event) {
            const isClickInside = toggleBtn.contains(event.target) || dropDownMenu.contains(event.target);
            if (!isClickInside && dropDownMenu.classList.contains('open')) {
                dropDownMenu.classList.remove('open');
                toggleBtnIcon.classList = 'bi bi-list';
            }
        });
    });

</script>
