{% load static %}

<section class="header-pictures">
    <nav>
        <a class="blog-link" href="{% url 'index' %}">
            <img src="{% static 'imgs/Mosque.jpg' %}" alt="no img">
        </a>
        <div class="nav-links">
            <i class="bi bi-x-circle-fill"></i>
            <ul>
                <li><a href="{% url 'index' %}">الرئيسية</a></li>
                <li><a href="{% url 'questions_blog' %}">الأسئلة الشائعة</a></li>
                <li><a href="{% url 'events_view' %}">المناسبات</a></li>
                <li><a href="{% url 'about' %}">عن المسجد</a></li>
                <li><a href="{% url 'contact_us' %}">إتصل بنا</a></li>
            </ul>
        </div>
        <div class="form-container">
            <form class="d-flex" role="search" action="{% url 'search_question' %}" method="get">
                <div class="d-flex align-items-stretch">
                    <button class="btn btn-outline-success submit-result mx-3" type="submit">بحث</button>
                    <input class="form-control p-2" name="search" type="search" placeholder="بحث عن معلومة دينية . . ."
                           aria-label="Search">
                </div>
            </form>
        </div>
        <i class="fa fa-bars" aria-hidden="true"></i>
    </nav>
    <div class="text-box">
        <h1>
            (إِنَّمَا يَعْمُرُ مَسَاجِدَ اللَّهِ مَنْ آمَنَ بِاللَّهِ وَالْيَوْمِ الْآخِرِ وَأَقَامَ الصَّلاةَ وَآتَى
            الزَّكَاةَ وَلَمْ يَخْشَ إِلَّا اللَّهَ فَعَسَى أُولَئِكَ أَنْ يَكُونُوا مِنَ الْمُهْتَدِينَ)
        </h1>
        <span class="first-span"> سورة التوبة  18</span>
        <br>
        <br>
        <h1>
            ورد عَنْ النَّبِيِّ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ أَنَّهُ قَالَ: مَنْ بَنَى مَسْجِدًا لِلَّهِ كَمَفْحَصِ
            قَطَاةٍ أَوْ أَصْغَرَ بَنَى اللَّهُ لَهُ بَيْتًا فِي الْجَنَّةِ.
        </h1>
        <span> رواه ابن ماجه وصححه الألباني.</span>
        <br>
    </div>
</section>
