{% load static %}
{% comment %}
    <header>
        <div class="navbar2">
            <div class="logo2">
                <a href="{% url 'index' %}">
                    <img src="{% static 'imgs/mosquelogo.jpg' %}" alt="no img">
                </a>
            </div>
            <ul class="links2">
                <li><a href="{% url 'index' %}">الرئيسية</a></li>
                <li><a href="{% url 'questions_blog' %}">الأسئلة الشائعة</a></li>
                <li><a href="{% url 'events_view' %}">المناسبات</a></li>
                <li><a href="{% url 'about' %}">عن المسجد</a></li>
                <li><a href="{% url 'contact_us' %}">إتصل بنا</a></li>
            </ul>

            <a href="{% url 'index' %}" class="action_btn2">مسجد أبو عبيدة إبن الجراح</a>

            <div class="toggle_btn2">
                <i class="bi bi-list"></i>
            </div>
        </div>
        <div class="dropdown_menu2">
            <li><a href="{% url 'index' %}">الرئيسية</a></li>
            <li><a href="{% url 'questions_blog' %}">الأسئلة الشائعة</a></li>
            <li><a href="{% url 'events_view' %}">المناسبات</a></li>
            <li><a href="{% url 'about' %}">عن المسجد</a></li>
            <li><a href="{% url 'contact_us' %}">إتصل بنا</a></li>
        </div>

        <div class="text-box">
            <h1>
                (إِنَّمَا يَعْمُرُ مَسَاجِدَ اللَّهِ مَنْ آمَنَ بِاللَّهِ وَالْيَوْمِ الْآخِرِ وَأَقَامَ الصَّلاةَ وَآتَى
                الزَّكَاةَ وَلَمْ يَخْشَ إِلَّا اللَّهَ فَعَسَى أُولَئِكَ أَنْ يَكُونُوا مِنَ الْمُهْتَدِينَ)
            </h1>
            <span class="first-span"> سورة التوبة  18</span>
        </div>

    </header>
{% endcomment %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleBtn = document.querySelector(".toggle_btn2");
        const toggleBtnIcon = document.querySelector(".toggle_btn2 i");
        const dropDownMenu = document.querySelector(".dropdown_menu2");

        toggleBtn.addEventListener('click', function (event) {
            event.stopPropagation();

            dropDownMenu.classList.toggle('open');

            const isOpen = dropDownMenu.classList.contains('open');

            toggleBtnIcon.classList = isOpen
                ? 'bi bi-x'
                : 'bi bi-list';
        });

        // Close the dropdown menu when clicking outside of it
        document.addEventListener('click', function (event) {
            const isClickInside = toggleBtn.contains(event.target) || dropDownMenu.contains(event.target);
            if (!isClickInside && dropDownMenu.classList.contains('open')) {
                dropDownMenu.classList.remove('open');
                toggleBtnIcon.classList = 'bi bi-list';
            }
        });
    });

</script>
